@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
  font-family: 'Roboto', sans-serif;
  height:100%;
}

body{
  margin:0;
  padding:0;
  height:100%;
}

#root{
  height:100%;
}

.app{
  display: flex;
  flex-direction: column;
}

.full-height{
  height:100%;
}

.overflow-scroll{
  overflow: scroll;
}

.overflow-hidden{
  overflow: hidden;
}

.fixed{
  display: fixed;
}

.flex-nowrap{
  flex-wrap: nowrap;
}

.flex-fill{
  display: flex;
  flex:1 1 auto;
}

.flex-row{
  flex-direction: row;
}

.inline-flex{
  display: inline-flex;
} 

.flex{
  display:flex
}

.align-center{
  align-items: center;
}

.border-right{
    border-right: 0.1rem solid black;
}

.inline-block{
  display: inline-block;
}

.nav-item{
  text-decoration: none;
  padding:0.5rem;
  color: lightgray;
  transition:0.25s;
}
.nav-item:hover{
  color: white;
  transition:0.25s;
}

.nav-brand{
  text-decoration: none;
  border: 0.1rem solid white;
  border-radius: 0.5rem;
  padding:0.25rem;
  color: lightgray;
}
.nav-brand:hover{
  color:white;
}

.nav-text{
  color:lightgray;
}